/* Reset and basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('assets/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background: rgba(51, 51, 51, 0.8); /* semi-transparent background */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

/* Example additional styles for sections */
section {
    padding: 2rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 8px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
}

/* Ensure the photo doesn't exceed its container's height */
.profile-photo-container {
    max-height: 150px; /* Adjust as needed */
    overflow: hidden;
}

/* Adjustments for the layout */
.about-content {
    display: flex;
    align-items: center;
}

.profile-photo-container {
    flex: 0 0 auto; /* Prevent flex-grow */
    margin-right: 2rem; /* Spacing between photo and text */
}

.about-text {
    flex: 1; /* Take remaining space */
}

.education-entry {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
}

.education-timeline {
    position: relative;
    margin-right: 1rem;
}

.education-timeline .dot {
    width: 12px;
    height: 12px;
    background-color: #4CAF50;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.education-timeline .timeline-line {
    width: 2px;
    height: 100%;
    background-color: #4CAF50;
    position: absolute;
    top: 0;
    left: 5px;
}

.education-content {
    flex: 1;
}

.cv-attachments-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.cv, .attachments {
    width: calc(50% - 10px); /* Adjusted width to accommodate spacing */
    margin-bottom: 20px; /* Adds space between sections */
}

.cv {
    margin-right: 10px; /* Adds space between CV and Attachments */
}

.attachments {
    margin-left: 10px; /* Adds space between CV and Attachments */
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background: rgba(51, 51, 51, 0.8); /* semi-transparent background */
    color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .profile-photo-container {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .cv, .attachments {
        width: 100%; /* Full width on smaller screens */
        margin-right: 0;
        margin-left: 0;
    }
}

/* Custom styles for Font Awesome icons */
.contact-info i {
    font-size: 24px; /* Adjust icon size */
    margin-right: 5px; /* Adjust spacing between icon and text */
}
